<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"><link rel="stylesheet" href="{{ url_for('static', filename='css/L.Control.Locate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='awesome_markers/leaflet.awesome-markers.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster.Default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form-styling.css') }}?v=015">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600;800&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/4f7c8cb555.js" crossorigin="anonymous"></script>
        <style>
        html, body, #map {
            width: 100%;
            height: 95%;
            padding: 0;
            margin: 0;
            z-index: 1
            font-family: 'Poppins', sans-serif !important;
            font-weight: 200;
        }
        #title {
          font-family: 'Poppins', sans-serif;
          font-weight: 800;
        }
        #top-ribbon {
          width: 100%;
          height: 5%;
          background: linear-gradient(87.07deg, #EE3494 0%, #EA5AA4 100%);
          color: white;
          display: flex;
          justify-content: left;
          align-items: center;
          padding-left: 20px;
          letter-spacing: 0.5px;
          word-spacing: 7px;
        }
        }
        .hide-button {
          background: none;
          padding: 0px;
          border: none;
        }
        @media (max-width: 420px) {
        #title {
          font-size: 20px;
        }
        }
        .leaflet-control-container {
          height: 100%;
        }
        </style>
        <title></title>
    </head>
    <body>
        <div id="top-ribbon"><h2 id="title" style="margin-top: 0px; margin-bottom: 0px;">TOILETS  MAKE  GLASGOW</h2></div>
        <div id="modal-trigger"></div>
        <div id="map"></div>


        <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='js/L.Control.Locate.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
        <script src="{{ url_for('static', filename='data/toilet_locations_1.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}?v=0796">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js"></script>
        <script>

          var geojson = '{{ geojson_points|tojson }}'

          var cookie = document.cookie.split('=')[1]
          console.log(cookie)
          
          // CREATE BASIC MAP
          
          var map = L.map('map').setView([55.861098, -4.255484], 14);

          
          var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            minZoom: 12,
            zoomControl: true,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map)

          // THE FUNCTION BELOW CONVERTS THE DATA THE FROM JSON TO A POINT LAYER, SO IT CAN BE LOADED AND DISPLAYED ON THE MAP
          
          var featureId = {};

          var loadData = L.geoJson(JSON.parse(geojson), {
            
            pointToLayer: function(feature, latlng) {
            
   	      // LEAFLET SYNTAX THAT MAKES POINTS LOOK NICE WITH THE HELP OF FONT AWESOME/AWESOME MARKERS 
   	      
              var layer = L.marker(latlng, {
                  icon: L.AwesomeMarkers.icon({
                  icon: 'restroom',
                  prefix: 'fa', 
                  markerColor: 'purple'
                })
              });
              return layer
            }, 
	    
            onEachFeature: function onEachFeature(feature, layer) { 
            
	     // L.stamp CREATES A UNIQUE STAMP/ID FOR EVERY POINT DISPLAYED ON THE MAP. THIS HAD TO DONE SO THE PROGRAM KNOWS WHICH POINT IT NEEDS TO DELTE 
	     // IF USERS DECIDES THEY WANT TO DELETE AN ENTRY
	     
              featureId[feature.properties.id] = L.stamp(layer);
              
	     // ABSOLUTE MESS BELOW. SURELY THERE IS MUCH BETTER WAY TO DO THIS, BUT IT WORKED AT THE TIME TO JUST BRUTE FORCE THE SOLUTION LIKE THIS.
	     
	     // IS THIS AN EXAMPLE WHERE REACT WOULD COME HANDY? WHAT IS GENERALLY A 'CORRECT' WAY OF DOINT THIS ANYWAY? 
	     // I ASSUME CREATING A SEPERATE HTML FILE AND JUST LINKING IT IN?
	     
              layer.bindPopup(
                '<div class="table-title"><h4 class="table-title-font">' + feature.properties.location_1 + '</h4>' + 
                starRating(feature.properties.rating) + '</div>' +
                '<table><tr><td>' + "Free of charge: " + '</td><td class="right">' + feature.properties.free_1 + '</td></tr>' +
                '<tr><td>' + "Public toilet: " + '</td><td class="right">' + feature.properties.public_1 + '</td></tr>' +
                '<tr><td>' + "Do you need to buy product or pay for service in order to use it: " + '</td><td class="right">' + feature.properties.buy_prod + '</td></tr>' +
                '<tr><td>' + "Accessible for people with dissabilities: " + '</td><td class="right">' + feature.properties.accessible + '</td></tr>' +
                '<tr><td>' + "How clean is it: " + '</td><td class="right">' + feature.properties.clean + '/5</td></tr>' +
                '<tr><td>' + "Are the toiletries provided: " + '</td><td class="right">' + feature.properties.toiletries + '</td></tr></table>' + 
                '<p class="font">' + 'Other comments: ' + '</b><p class=font-1>' + otherComments(feature.properties.other_comment) + '</p><hr/>' +
                '<div style="font-family:' + 'Poppins' + ', sans-serif!important;"><button id="delete-button" class="btn btn-danger" style="float: left;">' + setButton(feature.properties.cookie_str) + '</button>' +
                '<button type="submit" id="hide-button" data-postid=' + feature.properties.id + ' class="hide-button" style="display: contents;">' + '<i class="far fa-thumbs-up" style="float: right; margin-top: 7px;"></i></button><p style="padding-left: 92%; padding-top: 3px;" id="count-nr" >' + feature.properties.votes  + '</p></div>',
                {maxWidth: 400}
              )
            }
          }).addTo(map);
	  
	  // A FEW 'STYLING' FUNCTION USED IN THE GENERATED POP-UP
	  
          function starRating(rating) {
            if (rating == 1) {
              return '<input data-role="rating" data-value="1" data-static="true">'}
            if (rating == 2) {
              return '<input data-role="rating" data-value="2" data-static="true">'}
            if (rating == 3) {
              return '<input data-role="rating" data-value="3" data-static="true">'}
            if (rating == 4) {
              return '<input data-role="rating" data-value="4" data-static="true">'}
            if (rating == 5) {
              return '<input data-role="rating" data-value="5" data-static="true">'}
            else {
              return '<input data-role="rating" data-value="0" data-static="true">'
            }
          }

          function otherComments(a) {
            if (a== null) {
              return 'None'
            } else {
              return a
            }
          }

          function setButton(a) {
            if (a == cookie) {
              return 'Delete'
            } else {
              return 'Report invalid entry'
            }
          };

         // AJAX CALL THAT WILL POST THE UPVOTE IN THE DATABASE

          $(document).on('click', '#hide-button', function(event) {
            $.ajax({
              url: '/votes',
              type: 'post',
              contentType: 'application/json;charset=UTF-8',
              dataType: 'json',
              data: JSON.stringify({'postid': $('#hide-button').data('postid')}),
              success: function(response) {
                $('#count-nr').text(response.vote_nr)
              },
              error: function(xhr) {
                console.log(data)
              }
            });
          });
          
          // FUNCTION THAT CHECKS IF THE PROGRAM HAS TO DELETE THE ENTRY OR REPORT HE ENTRY
          // USER CAN DELETE THE ENTRY IF THEY ARE THE ONE WHO CREATED IT, OR THEY CAN ONLY 'REPORT' IT IF SOMEONE ELSE CREATED THAT ENTRY
          
          $(document).on('click', '#delete-button', function(event) {
            if ($('#delete-button').text() == 'Delete') {
              var resp = confirm("Are you sure you want to delete this entry?")
              if (resp == true) {
              
		// AJAX FUNCTION THAT WILL DELETE THE ENTRY FROM THE DATABASE
		
                $.ajax({
                  url: '/delete-entry',
                  type: 'post',
                  contentType: 'application/json;charset=UTF-8',
                  dataType: 'json',
                  data: JSON.stringify({'postid': $('#hide-button').data('postid')}),

                  success: function(response) {
                    console.log(response)
                    map.removeLayer(loadData.getLayer(featureId[response]))
                  },
                  error: function(xhr) {
                    console.log(xhr)
                  }
                })
              }
              
            // IF THE USER CLICKS ON A POINT THAT WAS CREATED BY SOMEONE ELSE, THEY CAN REPORT THE ENTRY. 
            // THE CODE BELOW LOADS A MODAL WITH THE FORM THAT SENDS AND EMAIL TO ADMIN IN ORDER TO DELETE THAT SPECIFIC POINT  
              
            } else {
                $('#modal-trigger').load("{{ url_for('static', filename='report_entry.html') }}?v2 #myModal",function(){
                  $('#myModal').modal();

                  $(document).on('click', '#button-submit-report', function(event) {

                    var pointId = $('#hide-button').data('postid')
                    var reportMessage = $('#report-form').val()
                    
                    $('#myModal').modal('hide');
                    
		     // AJAX CALL THAT SENDS AN EMAIL TO THE ADMIN.   
		     
                    $.ajax({
                      url: '/report-entry',
                      type: 'post',
                      contentType: 'application/json;charset=UTF-8',
                      dataType: 'json',
                      data: JSON.stringify({

                        'message': reportMessage,
                        'id': pointId
                      }),

                      success: function(response) {
                        alert(response)
                      },
                      error: function(xhr) {
                        console.log(xhr)
                      }
                    });
                  });
                });
              }
            });
          
          var popup = L.popup();
          
	  // WHEN A USER CLICKS ON A MAP, THE BUTTON IS GENERATED IN THE POPUP, PROMTING A USER TO ADD A POINT TO THE MAP.
	  
          function onMapClick() {
            function createButton(label, container) {
              btn = L.DomUtil.create('button', '', container);
              btn.setAttribute('type', 'button');
              btn.setAttribute('class', 'btn btn-primary');
              btn.setAttribute('style', "font-family: 'Poppins', sans-serif;");
              btn.innerHTML = label;
              return btn;
            };
            map.on('click', function(e) {
                container = L.DomUtil.create('div'),
                
                startBtn = createButton('Add point here', container);

              popup
                .setLatLng(e.latlng)
                .setContent(container)
                .openOn(map);
              L.DomEvent.on(container, 'click', function() {
              
		// LEAFLET USES LATLON NOTATION AND POSTGIS USES LONLAT NOTATION. IN ORDER TO ENTER VALID COORDINATES IN POSTGIS DATABASE, THE VALUES NEED TO BE FLIPPED. 
		// SO THE CODE BELOW BASICALLY JUST FLIPS THE LAT-LON TO LON-LAT AND FORMATS THE COORDINATES IN THE WAY THAT POSTGIS CAN ACCEPT THEM 
                
                var coordinates = e.latlng
                coordinates = coordinates.toString().replace(/[LatLng),( ]/g,'')
                var coordinateY = coordinates.substr(0, coordinates.indexOf('-')); 
                var coordinateX = coordinates.split('-').pop();  
                coordinates = 'SRID=4326;POINT(-' + coordinateX + ' ' + coordinateY + ')'
                console.log(coordinates)

                map.closePopup();
                
		// WHEN USER CLICKS ON A BUTTON, THE PROGRAM WILL LOAD AN HTML FORM IN A MODAL WINDOW
		 
                $('#modal-trigger').load("{{ url_for('static', filename='add_toilet.html') }}?v=74 #myModal",function(){
                  $('#myModal').modal();
                  $('#coordinates-input').val(coordinates);
                });
                
              })
            })
          }
          onMapClick();
        </script>
        <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    </body>
</html>
